@use './variables' as *;

.blog-link {
	display: block;
	margin-top: space(4);
	cursor: pointer;
	text-decoration: none !important;
  font-weight: $font-weight--400;

	&__title {
		margin-bottom: space(1);
	}

	&__description {
		margin-bottom: space(1);
	}

	> p {
		font-family: $font-family--secondary;
		font-weight: $font-weight--400;
	}

	&__read-more {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		> p {
			font-weight: $font-weight--500;
			font-family: $font-family--primary;
			font-size: $font-size--p-small;
			margin-right: space(0);
		}
	}

	&:hover {
		.blog-link__read-more {
			> p {
				color: $color--primary;
			}
		}
	}
}
