@use '@san-siva/stylekit/styles/index.module.scss' as stylekit;

.blog-section {
	margin-bottom: stylekit.space(9);

	&__title {
		margin-top: stylekit.space(4);
		margin-bottom: stylekit.space(2);
		font-size: stylekit.$font-size--h3;
		font-weight: stylekit.$font-weight--700;

		&--empty > p {
			color: transparent;
			font-size: 0;
		}
	}

	&__title-link {
		color: inherit;
		text-decoration: none;
		font-size: inherit;
		font-weight: inherit;
		font-family: inherit;

		&:hover {
			color: stylekit.$color--dark;
			text-decoration: underline;
			text-decoration-color: stylekit.$color--primary;
		}
	}

	.blog-section {
		margin-bottom: stylekit.space(6);

		> .blog-section__title {
			margin-top: stylekit.space(6);
			font-weight: stylekit.$font-weight--600;
			font-size: stylekit.$font-size--h5;
		}

		.blog-section {
			margin-bottom: stylekit.space(4);

			> .blog-section__title {
				margin-top: stylekit.space(4);
				font-weight: stylekit.$font-weight--500;
				font-size: stylekit.$font-size--h6;
			}

			.blog-section {
				margin-bottom: stylekit.space(2);
				> .blog-section__title {
					margin-top: stylekit.space(2);
					font-size: stylekit.$font-size--p;
				}

				.blog-section {
					> .blog-section__title {
						font-weight: stylekit.$font-weight--400;
					}
				}
			}
		}
	}
}
