@use '@san-siva/stylekit/styles/utils.module.scss' as utils;
@use '@san-siva/stylekit/styles/index.module.scss' as styles with (
	$max-width--page-contents: utils.rem(1200)
);

$sidebar-width: 22rem;
$content-width: styles.rem(780);
$total-width: calc(#{$content-width} + #{styles.space(8)} + #{$sidebar-width});

.blog {
	width: 100%;
	max-width: $total-width;
	margin: 0 auto;
	display: grid;
	grid-template-columns: $content-width $sidebar-width;
	grid-gap: styles.space(8);

	&__content {
		max-width: styles.$max-width--page-contents;
	}

	&__sidebar {
		position: sticky;
		height: fit-content;
		padding: styles.space(6);

		$top: styles.rem(66);
		top: $top;

		padding-top: $top;
		padding-right: 0;
		border-radius: styles.$border-radius--1;
	}

	&--increased-width {
		max-width: 100%;
		grid-template-columns: minmax(0, 1fr) $sidebar-width;

		.blog__content {
			max-width: none;
			min-width: 0;
		}
	}
}

$breakpoint: calc(
	#{styles.rem(120)} + #{styles.rem(780)} + #{styles.space(8)} +
		#{$sidebar-width} + #{styles.rem(120)}
);

@media (max-width: $breakpoint) {
	.blog {
		display: block;
		&__sidebar {
			display: none;
		}
	}
}
