@use '@san-siva/stylekit/index.module.scss' as styles;

.blog {
	width: 100%;
	max-width: 100%;
	display: grid;
	grid-template-columns: #{styles.rem(780)} minmax(#{styles.rem(320)}, 1fr);
	grid-gap: styles.space(8);

	> * {
		max-width: unset;
	}

	&__content {
		max-width: styles.$max-width--page-contents;
	}

	&__sidebar {
		position: sticky;
		height: fit-content;
		top: var(--topbar-height);
		padding: styles.space(6);
		border-radius: styles.$border-radius--1;
		background-color: styles.$color--code;
		box-shadow:
			0 0 0 1px styles.$color--border,
			0 styles.space(1) styles.space(2) 0 styles.$color--border;

		> .category__title {
			display: block;
			margin-bottom: styles.space(1);
			font-size: styles.$font-size--p-small;
			font-weight: styles.$font-weight--500;
			cursor: pointer;

			animation: fadeInDown 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			&--active,
			&:hover {
				text-decoration: underline;
				text-decoration-color: styles.$color--primary;
			}

			&--active {
				color: styles.$color--primary;
			}

			&--sub {
				font-size: styles.$font-size--small;
				font-weight: styles.$font-weight--400;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

$breakpoint: calc(
	#{styles.rem(120)} + #{styles.rem(780)} + #{styles.space(8)} +
		#{styles.rem(320)} + #{styles.rem(120)}
);

@media (max-width: $breakpoint) {
	.blog {
		display: block;
		&__sidebar {
			display: none;
		}
	}
}
