@use 'stylekit/index.module.scss' as stylekit;

.blog-section {
	&__title {
		margin-bottom: stylekit.space(2);
	}
}

.blog-section .blog-section > .blog-section__title {
	font-size: stylekit.$font-size--h6;
	margin-bottom: stylekit.space(2);
}

.blog-section .blog-section > *:first-child {
	margin-top: stylekit.space(4);
}

.blog-section .blog-section:not(:last-child) {
	margin-bottom: stylekit.space(4);
}

.blog-section .blog-section:last-child {
	margin-bottom: stylekit.space(8);
}

.margin-bottom--6 {
  margin-bottom: stylekit.space(6);
}

.margin-bottom--9 {
  margin-bottom: stylekit.space(9);
}
