@use 'stylekit/index.module.scss' as stylekit;

.blog-link {
	display: block;
	margin-top: stylekit.space(4);
	cursor: pointer;
	text-decoration: none !important;
  font-weight: stylekit.$font-weight--400;

	&__title {
		margin-bottom: stylekit.space(1);
	}

	&__description {
		margin-bottom: stylekit.space(1);
	}

	> p {
		font-family: stylekit.$font-family--secondary;
		font-weight: stylekit.$font-weight--400;
	}

	&__read-more {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;

		> p {
			font-weight: stylekit.$font-weight--500;
			font-family: stylekit.$font-family--primary;
			font-size: stylekit.$font-size--p-small;
			margin-right: stylekit.space(0);
		}
	}

	&:hover {
		.blog-link__read-more {
			> p {
				color: stylekit.$color--primary;
			}
		}
	}
}
