@use 'stylekit/index.module.scss' as styles;

.mermaid {
	display: block;

	> * {
		background-color: unset;
	}
}

.margin-top--1 {
  margin-top: styles.space(1);
}

.margin-bottom--2 {
  margin-bottom: styles.space(2);
}
